.popup__button-submit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  border: none;
  width: 358px;
  height: 50px;
  margin-top: 18px;
}

.popup__button-submit:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 517px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
